.AccountCard{
    height : 120px;
    width : 200px;
    background-color: aquamarine;
    margin:25px;
    font-size: 20px;
    /* padding-top: 20px; */
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}

.AddTransactionButton{
    width:250px;
    height:75px;
    background-color: darkslateblue;
    color: aliceblue;
}