.AccountCard{
    height : 120px;
    width : 200px;
    background-color: aquamarine;
    margin:25px;
    font-size: 20px;
    /* padding-top: 20px; */
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    flex-shrink: 0;
}


.AddTransactionButton{
    width:120px;
    height:25px;
    background-color: darkslateblue;
    color: aliceblue;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}